@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --innerVh: 8.36px;
    --innerVw: 8.36px;
    --bckgrdcolor: #CADCFC;
    --fontcolor: #00246B;
    --textcolor: #606887;
}

.contact-wrapper {
    height: calc(var(--innerVh, 1vh)* 100);
    justify-content: center;
    margin: 0 240px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
}

.contact-form {
    width: 500px;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    padding: 2rem;
    overflow:hidden;
    box-shadow: 10px 5px 5px black;
}

.contact-form form {
    display: flex;
    min-height: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.name-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 35px;
    box-sizing: border-box;
}

.contact-form, .contact-form form, .name-container {
    background-color: #9bd4f1;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 1rem;
    border-radius: 30px;
    border: 2px solid black;
    font-family: "Sour Gummy", serif;
    font-size: 18px;
    color: var(--fontcolor);
    background-color: #caecf7;
}

.contact-form input {
    height: 6vh;
}

.contact-form textarea {
    height: 15vh;
    resize: none;
}

.contact-form textarea::-webkit-scrollbar {
    width: 0;
}

.contact-form button {
    width: 30%;
    border-radius: 30px;
    height: 5vh;
    border: 2px solid black;
    background-color: white;
}

.contact-form button:hover {
    cursor: pointer;
    border: 2px solid black;
}

.profile-container {
    border: 2px solid black;
    width: 250px;
    min-height: 400px;
    margin-top: 15vh;
}