.main-page-content-container {
    display: flex;
    margin-top: 20px;
    height: 80vh;
}

.main-page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 4;
    margin-left: 150px;
}

.main-page-content-picture {
    flex: 3;
    margin-right: 150px
}

.main-page-text-container {
    width: 90%;
    flex: 2;
}

.main-page-skill-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    flex: 1;
}

.main-page-softskill-container {
    width: 90%;
    flex: 3;
    font-size: 15px;
}

.main-page-softskill-container p {
    margin-bottom: 10px;
}

.main-page-techskill-container {
    width: 90%;
    flex: 2;
}

.main-page-text-container {
    padding-top: 130px;
}

.main-page-text-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 3rem;

}

.main-page-text {
    line-height: 1.5rem;
    margin-right: 50px;
    font-size: 15px;
}

.main-page-skill-title {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
}

.main-page-skill-icons {
    display: inline-block;
}

.skill-icon {
    width: 40px;
    height: 40px;
    margin-right: 30px;
}

.main-page-content-picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-page-picture-frame {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--picture-border-color);
    border-radius: 50%;
}

.main-page-picture-frame img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}