* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: WF Visual Sans, Arial, sans-serif;
}

body {
    background-color: var(--background-color);
    height: 100%;
    width: 100%;
}

/* Global color schemes for default webpage */
:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --hover-color: #d2d4dc;
    --picture-border-color: #000000;
    --codebox-background-color: #424241;
    --codebox-projectbox-color: #2e2d2b;
    --codebox-border-color: #696969;
}