/* Color codes for website */
:root {
    --innerVh: 8.36px;
    --bckgrdcolor: #CADCFC;
    --fontcolor: #00246B;
    --textcolor: #606887;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--bckgrdcolor);
}